<div class="form-group">
  <span class="text-left">
    <a href="/" class="btn btn-outline-danger" role="button" title="cancel">
      <i class="fas fa-times"></i>
    </a>
  </span>
  <div class="float-right">
    <button
      type="button"
      onclick="location.href='/medit'"
      class="btn btn-outline-warning mr-2"
      title="edit"
    >
      <i class="fas fa-pen"></i>
    </button>
    <button type="submit" class="btn btn-outline-success" title="save">
      <i class="fas fa-check"></i>
    </button>
  </div>
</div>
