<div class="form-group text-center">
  <button
    type="button"
    class="btn btn-outline-danger mr-2"
    title="cancel"
    data-toggle="modal"
    data-target="#cancelModal"
  >
    <i class="fas fa-times"></i>
  </button>
  <button
    type="button"
    onclick="location.href='/medit'"
    class="btn btn-outline-warning mr-2"
    title="edit"
  >
    <i class="fas fa-pen"></i>
  </button>
  <button
    type="button"
    class="btn btn-outline-success"
    title="save"
    data-toggle="modal"
    data-target="#confirmModal"
  >
    <i class="fas fa-check"></i>
  </button>
</div>

<!-- Confirm saving modal -->
<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirm Saving</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to save the record?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Yes, Save!</button>
      </div>
    </div>
  </div>
</div>

<!-- Cancel modal -->
<div
  class="modal fade"
  id="cancelModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="cancelModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModalLabel">Cancel Saving?</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Press 'OK' to cancel saving record.
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          onclick="location.href='/'"
          class="btn btn-danger"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
