<div class="form-group text-center">
  <button
    type="button"
    class="btn btn-outline-danger mr-2"
    title="cancel"
    data-toggle="modal"
    data-target="#cancelModal"
  >
    <i class="fas fa-times"></i>
  </button>
  <button
    type="button"
    onclick="location.href='<%= edithref %>'"
    class="btn btn-outline-warning mr-2"
    title="edit"
  >
    <i class="fas fa-pen"></i>
  </button>
  <button
    type="button"
    class="btn btn-outline-success"
    title="save"
    data-toggle="modal"
    data-target="#confirmModal"
  >
    <i class="fas fa-check"></i>
  </button>
</div>

<!-- Confirm saving modal -->
<%- include savemodal.ejs %>

<!-- Cancel modal -->
<%- include cancelmodal.ejs %>
