<div class="form-group">
  <span class="text-left">
    <a href="/" class="btn btn-outline-danger" role="button" title="cancel">
      <i class="fas fa-times"></i>
    </a>
  </span>
  <div class="float-right">
    <button type="submit" class="btn btn-outline-success" title="done">
      <i class="fas fa-check"></i>
    </button>
  </div>
</div>
