<div class="form-group text-center">
  <button type="submit" class="btn btn-outline-danger mr-2" title="cancel edit">
    <i class="fas fa-times"></i>
  </button>
  <button type="submit" class="btn btn-outline-success" title="confirm edit">
    <i class="fas fa-check"></i>
  </button>
</div>
