<div class="form-group text-center">
  <a href="/" class="btn btn-outline-danger mr-2" role="button" title="cancel">
    <i class="fas fa-times"></i>
  </a>
  <button type="submit" class="btn btn-outline-success" title="confirm">
    <i class="fas fa-check"></i>
  </button>
</div>
