<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler"
    aria-controls="navbarToggler"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav-item-container">
    <a class="navbar-brand" href="/">
      <span><i class="fas fa-camera-retro"></i></span>
      SP Digito
    </a>
  </div>

  <div
    class="text-right collapse navbar-collapse navbar-nav ml-auto"
    id="navbarToggler"
  >
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Features</a
        >
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/manualform">Manual Form</a>
          <a class="dropdown-item" href="/imageupload">Image Upload</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">View Record</a>
          <a class="dropdown-item disabled" href="#">Download Patient Data</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
