<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <body>
    <%- include partials/navbar.ejs %>
    <div class="container">
      <p class="header">Contact <i class="fab fa-telegram-plane"></i></p>
      <div class="form-container">
        <form class="border-peach" method="post" action="/postresult">
          <div class="pimg">
            <img
              class="img-fluid"
              src="/images/android-chrome-512x512.png"
              alt="chinjanggg"
              title="chinjanggg so cute!"
              width="150px"
            />
          </div>
          <div class="form-group">
            <label for="dev">Developer</label>
            <input
              type="text"
              class="form-control"
              name="dev"
              value="chinjanggg (so cute)"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              type="text"
              class="form-control"
              name="email"
              value="chinjanggg@spdigito.com"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="motto">Motto</label>
            <input
              type="text"
              class="form-control"
              name="motto"
              value="always praise the peach and believe in unicorn"
              readonly
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
