<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <body>
    <%- include partials/navbar.ejs %>
    <div class="container">
      <p class="header text-danger">
        ERROR <i class="fas fa-exclamation-triangle"></i>
      </p>
      <h4 class="error">
        <i>
          Oops! Something wrong happened. <br />
          Please try again <i class="far fa-frown"></i>
        </i>
      </h4>
    </div>
  </body>
</html>
