<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <body>
    <%- include partials/navbar.ejs %>
    <div class="container">
      <p class="header">Image Upload <i class="fas fa-cloud-upload-alt"></i></p>
      <div class="form-container">
        <form
          class="border border-info"
          method="post"
          action="/upload"
          enctype="multipart/form-data"
        >
          <!-- Patient ID -->
          <div class="form-group">
            <label for="pid"><h5>Patient ID</h5></label>
            <input
              type="text"
              class="form-control"
              name="pid"
              pattern="(?:hr|HR)[0-9]{3}"
              title="eg. HR123"
              maxlength="5"
              required
            />
          </div>

          <!-- Image file -->
          <div class="form-group">
            <label for="upload"><h5>Image file</h5></label>
            <input
              class="form-control btn btn-outline-secondary"
              type="file"
              name="upload"
              required
            />
          </div>

          <!-- Button -->
          <%- include partials/editformbtn.ejs %>
        </form>

        <!-- Alternative method -->
        <div class="my-4">
          <a class="text-secondary" href="/manualform">
            <i><u>I don't have image</u></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
