<!DOCTYPE html>
<html>
  <%- include partials/head.ejs %>
  <body>
    <%- include partials/navbar.ejs %>
    <div class="container">
      <p class="header">Manual Form <i class="fas fa-feather-alt"></i></p>
      <div class="form-container">
        <form class="border border-info" method="post" action="/postresult">
          <div class="form-group text-left">
            <label for="pid">Patient ID</label>
            <input
              type="text"
              class="form-control"
              name="pid"
              pattern="(?:hr|HR)[0-9]{3}"
              title="eg. HR123"
              maxlength="5"
              placeholder="hrxxx"
              required
            />
          </div>

          <%- include partials/resultedit.ejs %>

          <!-- Button -->
          <%- include partials/inputformbtn.ejs %>
        </form>

        <!-- Alternative method -->
        <div class="my-4">
          <a class="text-secondary" href="/imageupload">
            <i><u>or let things run automatically with OCR</u></i>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
