/* Overall */
html {
  height: 100%;
}
body {
  background: -webkit-linear-gradient(#fff2b4, #ffc0b4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  padding-top: 75px;
}
.container {
  margin: auto;
  text-align: center;
  padding: 1em;
  background: white;
  box-shadow: 0 0 15px 0px #999;
  min-height: 100%;
  position: relative;
  max-width: 1100px;
}

/* Navbar */
nav {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  outline: none;
}
.nav-item-container {
  padding-left: 20px;
  outline: none;
}
.navbar-brand {
  background: -webkit-linear-gradient(#fff2b4, #ffc0b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto Slab", serif;
  font-size: 2em;
}
.navbar-brand i {
  color: black;
}
.navbar-brand:hover i {
  color: #f0ad4e;
}

/* Form */
form {
  padding: 1.2em;
  padding-bottom: 0;
  text-align: left;
}
.form-container {
  max-width: 500px;
  margin: auto;
}
input[name="pid"] {
  text-transform: uppercase;
}
textarea {
  resize: none;
}

/*------------------------------- Index page -------------------------------*/
.header {
  font-family: "Roboto Slab", serif;
  font-size: 3em;
  color: #343a40;
  margin-bottom: 0.5em;
  margin-top: 0.25em;
}
.method-group {
  max-width: 750px;
  margin: auto;
}
.method {
  max-width: 300px;
  margin: 2em auto;
  margin-top: 1em;
  padding: 2em;
  cursor: pointer;
  line-height: 4.5em;
  border: 1px solid #dee2e6;
}
.method-manual:hover {
  border: 1px solid #999;
  box-shadow: 0 0 15px #999;
}
.method-manual:hover i {
  color: #343a40;
}
.method-manual:active {
  background: rgb(240, 240, 240);
}
.method-ocr:hover {
  border: 1px solid #ffc0b4;
  box-shadow: 0 0 15px #ffc0b4;
}
.method-ocr:hover i {
  /* color: #ff6699; */
  background: -webkit-linear-gradient(#fff2b4, #ffc0b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.method-ocr:active {
  background: rgb(253, 244, 240);
}
.method-desc {
  margin-top: 1em;
  font-style: italic;
  color: #6c757d;
  line-height: 1.5em;
}

/* ---------------------------------------- */
/* Patient photo */
.pimg {
  text-align: center;
}

/* image in upload form result */
.result-icon {
  font-size: 1.2em;
}
.result-image {
  width: 200px;
}

/* Edit button */
.btn-outline-warning:hover,
.btn.btn-outline-warning:active:focus {
  color: white;
}

/*------------------------------- Contact page -------------------------------*/
.border-peach {
  border: solid 1px #ffccb4;
}
input[name="dev"],
input[name="email"],
input[name="motto"] {
  font-style: italic;
}

/*------------------------------- Error page -------------------------------*/
.error {
  line-height: 2em;
}
